body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    margin: 0;
    padding: 0;
}

h1, h2 {
    color: #000000;
    font-size: 1.4em;
    margin: 0 0 10px 0;
}

p {
    line-height: 1.4;
    margin: 0 0 20px 0;
}

.container {
    max-width: 60%;
    margin: auto;
    padding: 20px;
    background-color: rgb(230, 128, 11);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header img {
    margin-left: 5px;
    width: 60px; /* Ajustado para mobile */
    height: 60px; /* Ajustado para mobile */
}

button {
    background-color: #000000;
    color: white;
    padding: 5px 15px; /* Ajustado para mobile */
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #d88d03;
}

input[type="text"] {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="text"]:focus {
    border: 1px solid rgb(255, 255, 255);
    outline: none;
}

/* Media query para telas pequenas */
@media (max-width: 500px) {
    .container {
        padding: 10px;
        max-width: 100%;
    }

    h1, h2 {
        font-size: 1.2em;
    }

    button {
        padding: 5px 15px;
    }

    .header img {
        width: 50px;
        height: 50px;
    }
}
